<% provide(:title, 'Protest Australia') %>

<div class="top-box">

   <div class="recent-protests-outside-box">

      <div class="recent-protests-inside-box">
         <% if @recent_protests.any? %>
               <%= render partial: "pages/recent_protest", collection: @recent_protests %>
   		<% else %>
   			<p class="white-text">There are no protests available</p>
   		<% end %>


         <div class="clear"></div>
         <div class="left-align-box"><%= link_to "View all protests", protests_path, class:"front-page-major-link" %></div>
      </div>
   </div>

   <div class="vertical-center-outside-box vertical-center-30-100">
     <div class="vertical-center-raise-your-voice vertical-center-absolute-center">
       <div class="vertical-center-quote-box vertical-center-absolute-center">Raise<br>Your<br>Voice</div>
    </div><!-- inside absolute-center -->
  </div><!-- outside-box -->
  <div class="clear"></div>
  <div class="top-box-lower-row"></div><div class="top-box-lower-row">
  <%= link_to "Register", new_user_registration_path, class: "register-button" %> <h4>to add a protest</h4>
  </div>
</div><!-- top-box -->


<div class="clear"></div>
<div class="bottom-box">
   <div class="bottom-box-child">
      <div class="center"><h2 class="front-page-title">Protest</h2><%= image_tag("australia.png", size: "94x78", alt: "Icon of Map of Australia", class: "inline_block") %> <h2 class="front-page-title">Australia</h2></div>
   </div>
</div><!-- bottom-box -->
