<% provide(:title, 'Protest Australia') %>
<!-- <div class="top-box">
   <div class="quote-box">Raise<br>Your<br>Voice</div>
</div> -->


<div class="top-box">
   <div class="vertical-center-outside-box vertical-center-35-100">
     <div class="vertical-center-inside-box vertical-center-absolute-center">
       <div class="vertical-center-quote-box vertical-center-absolute-center">Raise<br>Your<br>Voice</div>
    </div><!-- inside absolute-center -->
  </div><!-- outside-box -->
</div><!-- top-box -->


<div class="clear"></div>
<div class="bottom-box">
   <div class="bottom-box-child">
      <div class="center"><h2 class="front-page-title">Protest</h2><%= image_tag("australia.png", size: "94x78", alt: "Icon of Map of Australia", class: "inline_block") %> <h2 class="front-page-title">Australia</h2></div>
   </div>
</div><!-- bottom-box -->
