<% provide(:title, 'Protest Australia') %>

<div class="row main_content">
   <div class="large-3 large-push-9 medium-12 small-12 columns vertical_center">
      <h2 class="raise_your_voice">Raise Your Voice</h2>
   </div>
   <div class="large-6 large-pull-3 large-uncentered medium-12 small-12 columns medium-centered">
      <div class="row">
         <div class="large-12 small-12 columns">
            <div class="row">
               <% if @recent_protests.any? %>
               <%= render partial: "pages/recent_protest", collection: @recent_protests %>
               <% else %>
               <p class="white-text">There are no protests available</p>
               <% end %>

            </div>
            <div class="row">
               <div class="large-11 large-offset-1 medium-11 medium-offset-1 columns">
                  <h4 class="white_text ">Recent protests</h4>
               </div>
            </div>
         </div>

      </div>

   </div>
   <div class="large-3 large-pull-3 small-12 columns links_box">
      <div class="top_box">
         <h3 class="white_text all_protests_header"><%= link_to "View all protests", protests_path %></h3>
      </div>
      <div class="bottom_box">
         <%= link_to "Register", new_user_registration_path, class: "register_button" %><p class="white_text text-center">to add a protest</p>
      </div>

   </div>

</div>
</div><!-- end main_content -->
<div class="clear"></div>
