@mixin Helvetica {
   font-family: Helvetica, Arial, sans-serif;
   font-weight: 200;
}
@mixin OpenSans {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
}

@font-face {
    font-family: 'FontAwesome';
    src: url(/assets/fontawesome-webfont.eot);
    src: url(/assets/fontawesome-webfont.svg);
    src: url(/assets/fontawesome-webfont.ttf);
    src: url(/assets/fontawesome-webfont.woff);
}

$orange: #f17a36;
$yellow: #f3cd36;
$green: #16b183;
$pale_blue: #14b9d5;
$dark_blue: #323a45;
$cream: #e5d6a7;

$purple: #674fb1;
$red: #d54343;
$maroon: #590902;

$white: #fdfdfd;
$dark_grey: #444444;
$med_grey: #a2a2a2;
$pale_grey: #cccccc;
$charcoal: #282828;

$menu-yellow: #f3bf28;
$emerald: #007a7a;
$beige: #e0dcd5;




* { margin: 0; }

html {
    position: relative;
    min-height: 100%;
}
body {
   width: 100%;
   overflow: auto;
   background-color: $white !important;

}
a {
   text-decoration: none;
}
.container {
   h2.top-header-full {
      font-size: 1.4em;
      line-height: 50px;
      font-weight: 200;
      letter-spacing: 1px;
   }
   h2.top-header-initials {
      font-size: 1em;
      line-height: 20px;
      padding: 5px 0;
      letter-spacing: 1px;
      display: none; // ********** Media Query Header **********
   }
   h2.top-header-full,
   h2.top-header-initials {
      margin: 0 0 0 30px;
      color: $white;
      font-family: 'Mohave';
      position: relative;
      z-index: 51;
      width: 200px;
   }
   p {
      @include OpenSans;
      font-size: 1em;
      color: $charcoal;
      margin: 15px 0;
   }
   #message {
     width: 40%;
     min-width: 250px;
     margin: 0 auto 10px auto;
     display: block;
     background-color: $cream;
     border: 1px solid #333;
     text-align: center;
     p {
        margin: 5px 0;
     }
   }
}


 h3.protest-heading {
   font-family: 'Muli', sans-serif;
   font-size: 1.7em;
 	color: $white;
 	font-weight: 300;
   width: 100%;
   display: inline-block;
   text-align: center;
   a:link, a:visited, a:hover, a:active {
      padding-top: 10px;
      color: $white;
   }
 }


#menu {
      float: left;
      width: auto;
}
#title {
   float: right;
   width: auto;
}
#logo {
   width: 75px;
   float: right;
}

#header-image {
   float: right;
   width: 60px;
   height: 60px;
   padding-right: 15px;
}

.centered-contents {
 	display: block;
 	width: 90%;
   margin: 0 auto;
   text-align: center;
 }

.box {
   width: 100%;
}
.box-90 {
   width: 90%;
}
.box, .box-90 {
	height: auto;
	display: block;
	margin: 0 auto;
	padding: 15px;
}

.grey-background {
	background-color: #ddd;
}

.med-icon {
   font-size: 1.5em;
   display: inline-block;
   padding: 0 5px;
}


/* ********** Search Form ********** */

.search-form {
   margin-right: 30px;
   height: 30px;
   margin-top: 5px;
   display: inline-block;
   .search-wrapper {
      width: 240px;
      height: 30px;
      .search-box { // input[type=text]
         display: inline-block;
         width: 180px;
         height: 30px;
         float: left;
         background-color: lighten($emerald, 10%);
         @include OpenSans;
         font-size: 1em;
         font-weight: 600;
         color: $white;
         border: 0;
         border-radius: 0;
         padding-left: 5px;
      }
      input[type=submit] {
         display: inline-block;
         margin: 0;
         width: 35px;
         height: 30px;
         position: relative;
         top: 0;
         right: 0;
         background-color: $emerald;
         border: 0;
         border-radius: 0;
         font-family: 'FontAwesome';
         color: $white;
         font-size: 1.3em;
      }
   }
}
/* ********** End of Search Form ********** */






@media (max-width: 954px) {
   header.header {
      .top-menu {
         .button-small, .admin-star {
            display: none;
         }
      }
   }
}
