@mixin Helvetica {
   font-family: Helvetica, Arial, sans-serif;
   font-weight: 200;
}
@mixin OpenSans {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
}

$orange: #f17a36;
// $yellow: #f3cd36;
$yellow: #ffcc55;
$green: #16b183;
$pale_blue: #14b9d5;
$dark_blue: #323a45;
$cream: #e5d6a7;

$purple: #674fb1;
$red: #d54343;
$maroon: #590902;

$white: #fdfdfd;
$dark_grey: #444444;
$med_grey: #555;
$pale_grey: #cccccc;
$charcoal: #282828;

.act {
   background-color: #f2594b;
}
.nsw {
   background-color: #f27d52;
}
.nt {
   // background-color: #ccba60;
   background-color: #cc9900;
}
.qld {
   background-color: #809142;
}
.sa {
   background-color: #4b7ba6;
}
.tas {
   background-color: rgba(20, 185, 213, 0.6);
}
.vic {
   background-color: #9933cc;
}
.wa {
   background-color: $purple;
}


.s-container {
   width: 145px;
   margin: 5px auto 5px auto;
   position: relative;
   .addthis_sharing_toolbox {
      height: 33px;
   }
}

ul#protest_list {
   width: 90%;
   margin: 0 auto;
   li {
      margin: 20px 2px;
      padding: 0;
   }
}

.disabled-icon {
   color: $med_grey;
}

.margin-bottom-50px {
   margin-bottom: 50px;
}

.state-header {
   border-radius: 10% 50%;
   padding: 0 5px;
   a:link, a:hover, a:active, a:visited {
      color: $white;
   }
}

h3.info-header {
   font-size: 1.5em;
   color: $med_grey;
   letter-spacing: 1px;
   padding-bottom: 5px;

}

.protest {
   border: 1px solid $pale_grey;
   display: inline-block;
   color: $white;
   height: auto;
   background-color: #fff;
   position: relative;
   .main-protest-body {
      display: block;
      .columns {
         padding: 0;
         margin: 0;
      }
      .circle {
         position: absolute;
         top: 0;
         width: 45px;
         height: 45px;
         border-radius: 50%;
         line-height: 45px;
         text-align: center;
         margin: 0 7px;
         padding: 0;
         display: inline-block;
         a:link, a:visited, a:hover, a:active {
            color: $white;
         }
      }
      .info-1, .info-2, .info-3, .info-4 {
         width: 100%;
         display: block;
         @include Helvetica;
         color: $white;
      }
      .info-2, .info-3 {
         font-family: 'Questrial', sans-serif;
         font-size: 1.1em;
         color: $charcoal;
      }
      .info-1 {
         margin: 0;
         padding: 0;
         margin-bottom: 10px;
         height: 150px;
         vertical-align: top;
         line-height: 150px;
      }
      .info-2 {
         margin-top: -150px;
         margin-bottom: 10px;
         font-weight: 600;
         border-bottom: 1px solid #eee;
      }
      .info-3 {
         margin-top: -110px;
         height: 168px;
      }
      .top-layer {
         position: relative;
         top: -150px;
         z-index: 45;
         margin: 0;
         padding: 0;
         height: 150px;
         vertical-align: top;
         .state {
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            text-align: center;
            line-height: 50px;
            background-color: rgba(251,251,251,0.3);
            color: $dark_grey;
            margin-left: 10px;
            a:link, a:visited, a:hover, a:active {
               font-family: 'Muli', sans-serif;
               font-size: 1.4em;
               color: $dark_grey;
            }
         }
      }
   }
   .bottom-row {
      display: block;
      height: 200px;
      width: 100%;
      padding: 0;
      margin: 0;
      .columns {
         padding: 0;
         margin: 0;
      }
      .info-4 {
         .details_button {
            width: 110px;
            padding: 5px 10px;
            background-color: $dark_grey;
            margin: 10px auto;
            display: block;
            text-align: center;
            a {
               font-family: 'Questrial', sans-serif;
               color: $white;
               font-size: 1em;
               text-align: center;
            }
         }
      }
   }
}


/* ********** Media queries ********** */
@media (min-width: 1024px) {
   .protest, .bottom-row {
      width: 30%;
      height: 376px;
   }
}
@media (min-width: 768px) and (max-width: 1023px){
   .protest, .bottom-row {
      width: 48%;
   }
}
@media (min-width: 667px) and (max-width: 767px) {
   .protest {

      .info-1 {
         height: 70px;
         h3.protest-heading {
            font-size: 1.1em;
         }
      }
      .info-2 {
         margin-top: -70px;
      }
      .info-3 {
         margin-top: -40px;
      }
   }
}
@media (max-width: 666px) {
   .box {
     border-bottom: 1px solid #eee;
   }
   .protest, .bottom-row {
      width: 98%;
      .columns {
         padding: 0;
         margin: 0;
      }

      .info-1 {
         height: 90px;
         vertical-align: bottom;
         h3.protest-heading {
            font-size: 1.2em;
         }
      }
      .info-2 {
         margin-top: -90px;
         height: 40px;
         line-height: 40px;
         font-size: 0.9em;
         padding: 0 10px;
      }
      .info-3 {
         margin-top: -50px;
         height: 110px;
         font-size: 0.9em;
         padding: 5px 0;
      }
      .top-layer {
         top: -90px;
         height: 90px;
         .state {
            width: 50px;
            height: 50px;
            line-height: 50px;
         }
      }
   }
}

@media (min-width: 667px) and (max-width: 767px) {
   .box {
   //   border-bottom: 1px solid #eee;
   }
   .protest {
      display: inline-block;
      width: 45%;
      min-height: 350px;
      .columns {
         padding: 0;
         margin: 0;
      }
      .info-1 {
         height: 90px;
      }
      .info-2 {
         height: 40px;
         line-height: 40px;
         font-size: 1em;
         padding: 0;
         margin-top: -90px;
      }
      .info-3 {
         height: 140px;
         font-size: 1.1em;
         padding: 5px 0;
      }
      .top-layer {
         top: -90px;
         height: 90px;
         .state {
            width: 50px;
            height: 50px;
            line-height: 50px;
         }
      }
   }
}
