<footer class="frontpage-footer">
   <div class="smicons">
      <i class="fa fa-twitter"></i>
      <i class="fa fa-facebook"></i>
      <i class="fa fa-envelope"></i>
   </div>
      &copy; Protest Australia <%= Time.now.year %>
</footer>
