<footer class="footer push wrap">

   <div class="row push wrap">
      <div class="large-6 medium-9 small-12 large-centered medium-centered small-centered columns">

         <div class="row">
            <div class="medium-4 small-12 columns text-center">
               <%= link_to "Contact My MP", "http://www.contactmymp.com", target: "_blank", class: "contactmymp", title: "Find and email your federal MP &amp; Senators" %>
            </div>
            <div class="medium-4 small-12 columns text-center">
               <%= link_to "PollieTweets", "http://www.pollietweets.com", target: "_blank", class: "pollietweets", title: "Keep up to date with what your federal &amp; state/territory politicians are saying on Twitter" %>
            </div>
            <div class="medium-4 small-12 columns text-center">
               <%= link_to "Protest Australia", "http://www.protestaustralia.com", target: "_blank", class: "protestaus", title: "Find out who's protesting what, when" %>
            </div>
         </div>
         <hr class="footer_hr">
      </div>

   </div><!-- end large-6 large-centered -->
   <div class="row push wrap"> <!-- menu -->
      <div class="medium-4 hide-for-small-only columns text-center">All Protests</div>
      <div class="medium-4 hide-for-small-only columns text-center">Register</div>
      <div class="medium-4 hide-for-small-only columns text-center">About Us</div>
   </div>
   <div class="row push wrap">
      <div class="medium-4 hide-for-small-only columns text-center">Add a Protest</div>
      <div class="medium-4 hide-for-small-only columns text-center">Sign In</div>
      <div class="medium-4 hide-for-small-only columns text-center">Contact Us</div>
   </div>
   <div class="row push wrap">
      <div class="medium-4 hide-for-small-only columns text-center"></div>
      <div class="medium-4 hide-for-small-only columns text-center"></div>
      <div class="medium-4 hide-for-small-only columns text-center">Privacy Policy</div>
   </div><!-- end of menu -->

   <div class="row push wrap"> <!-- icons -->
      <div class="large-2 medium-2 small-5 columns large-centered medium-centered small-centered">
         <div class="row">
            <div class="small-4 columns text-center">
               <i class="fi-social-twitter s-m-i"></i>
            </div>
            <div class="small-4 columns text-center">
               <i class="fi-social-facebook s-m-i"></i>
            </div>
            <div class="small-4 columns text-center">
               <i class="fi-mail s-m-i"></i>
            </div>
         </div>
      </div>
   </div> <!-- end of icons -->
   <div class="row push wrap">
      <div class="small-12 large-centered columns text-center copyright">
         <span>&copy; Protest Australia 2014</span>
      </div>
   </div>

</footer>
