<nav id="menu" class="menu_panel" role="navigation">
   <h2 class="menu_header">PROTEST AUSTRALIA</h2>
   <div class="row">
      <div class="small-6 columns menu_button_1">Sign In</div>
      <div class="small-6 columns menu_button_2">Register</div>
   </div>
   <ul>
      <li role="button"><a href="#">Home</a></li>
      <li role="button"><a href="#">Protests</a></li>
      <li role="button"><a href="#">Add a Protest</a></li>
      <li role="button"><a href="#">My Protests</a></li>
      <li role="button"><a href="#">Related Sites</a></li>
      <li role="button"><a href="#">About Us</a></li>
      <li role="button"><a href="#">Contact Us</a></li>
   </ul>
   <div class="slider_menu_footer">
      <h3 class="menu_footer"><i class="fi-social-twitter"></i></h3><h3 class="menu_footer"><i class="fi-social-facebook"></i></h3><h3 class="menu_footer"><i class="fi-mail"></i></h3>
   </div>
</nav>
