<%= form_tag(search_path, method: 'get', class: "search-form") do %>
      <div class="search-wrapper">
         <%= text_field_tag :keyword, 'Search', size: 20, id: 'keyword', class: "search-box", :onclick => 'if($(this).val()=="Search"){$(this).val("");};' %>
         <%= submit_tag 'Search', class: "go", value: "" %>
      </div>
<% end %>
